@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*,

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-white: #fff;
  --color-light: #f4f4f4;
  --color-dark: #525252;
  --color-black: #141415;
  --color-primary: #ffffff;
  --color-primary-light: hsl(14, 89%, 53%, 12%);
  --color-success: #29f5a6;
  --color-warning: #ffce31;
  --color-primary2: #7A8CAB;
  --overlay-color: rgba(52, 58, 63, 0.85);
  --menu-speed: 0.75s;
  --transition: all 300ms ease;
}

body {
  font-family: 'Familjen Grotesk', sans-serif;
  background: #000;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: rgb(3, 3, 3);
}

ul {
  list-style: none;
}

/* Header/Navbar */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
  text-transform: uppercase;
 /* padding: 0 30px;*/
}


/* Logo */
/*===============================Animation Of Logo======================*/
.logo {
  font-size: 5px;
  /* Control the size of your element */

  position: absolute;
  left: 7%;
  top: 52%;
  width: 22em;
  height: 15em;
  margin: -7.5em 0 0 -11em;
}

.logo::before,
.logo::after {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  margin: -1em 0 0 -1em;
}

.logo::before {
  /*This is the animated area of the element*/
  animation: animate 2000ms steps(1) infinite;
}

@keyframes animate {

  0%,
  100% {
    box-shadow: 8em 5em #070307, 8em 4em #070307, 6em 4em #070307, 6em 5em #070307, 4em 4em #070307, 4em 5em #070307, 4em 8em #303030, 4em 9em #303030, 4em 10em #303030, 4em 11em #303030, 4em 12em #303030, 4em 13em #303030, 5em 13em #303030, 6em 13em #303030, 7em 13em #303030, 5em 9em #303030, 5em 10em #303030, 5em 11em #303030, 5em 12em #303030, 6em 12em #303030, 6em 11em #303030, 5em 8em #303030, 6em 8em #303030, 7em 8em #303030, 8em 8em #303030, 8em 9em #303030, 7em 9em #303030, 6em 9em #303030, 6em 10em #303030, 7em 10em #303030, 8em 10em #303030, 8em 11em #303030, 7em 11em #303030, 7em 12em #303030, 8em 12em #303030, 8em 13em #303030, 8em 14em #303030, 7em 14em #303030, 6em 14em #303030, 5em 14em #303030, 4em 14em #303030
  }

  10% {
    box-shadow: 8em 5em #070307, 8em 4em #595959, 6em 4em #070307, 6em 5em #070307, 4em 4em #595959, 4em 5em #070307, 4em 9em #303030, 4em 10em #303030, 4em 11em #303030, 4em 12em #303030, 4em 13em #303030, 5em 13em #303030, 6em 13em #303030, 7em 13em #303030, 5em 9em #303030, 5em 10em #303030, 5em 11em #303030, 5em 12em #303030, 6em 12em #303030, 6em 11em #303030, 8em 9em #303030, 7em 9em #303030, 6em 9em #303030, 6em 10em #303030, 7em 10em #303030, 8em 10em #303030, 8em 11em #303030, 7em 11em #303030, 7em 12em #303030, 8em 12em #303030, 8em 13em #303030, 8em 14em #303030, 7em 14em #303030, 6em 14em #303030, 5em 14em #303030, 4em 14em #303030, 15em 11em #570e57, 16em 11em #570e57, 18em 11em #570e57, 19em 11em #570e57, 20em 11em #570e57, 17em 11em #570e57, 14em 11em #570e57, 13em 11em #570e57
  }

  20% {
    box-shadow: 8em 5em #595959, 6em 4em #595959, 6em 5em #070307, 4em 5em #595959, 4em 10em #303030, 4em 11em #303030, 4em 12em #303030, 4em 13em #303030, 5em 13em #303030, 6em 13em #303030, 7em 13em #303030, 5em 10em #303030, 5em 11em #303030, 5em 12em #303030, 6em 12em #303030, 6em 11em #303030, 6em 10em #303030, 7em 10em #303030, 8em 10em #303030, 8em 11em #303030, 7em 11em #303030, 7em 12em #303030, 8em 12em #303030, 8em 13em #303030, 8em 14em #303030, 7em 14em #303030, 6em 14em #303030, 5em 14em #303030, 4em 14em #303030, 14em 9em #570e57, 15em 9em #570e57, 16em 9em #570e57, 17em 9em #570e57, 18em 9em #570e57, 19em 9em #570e57, 20em 9em #570e57, 15em 11em #4e4e9c, 16em 11em #4e4e9c, 17em 11em #4e4e9c, 18em 11em #4e4e9c, 19em 11em #4e4e9c, 20em 11em #4e4e9c, 13em 9em #570e57
  }

  30% {
    box-shadow: 8em 5em #595959, 6em 5em #595959, 4em 5em #595959, 4em 11em #303030, 4em 12em #303030, 4em 13em #303030, 5em 13em #303030, 6em 13em #303030, 7em 13em #303030, 5em 11em #303030, 5em 12em #303030, 6em 12em #303030, 6em 11em #303030, 8em 11em #303030, 7em 11em #303030, 7em 12em #303030, 8em 12em #303030, 8em 13em #303030, 8em 14em #303030, 7em 14em #303030, 6em 14em #303030, 5em 14em #303030, 4em 14em #303030, 15em 9em #4e4e9c, 16em 9em #4e4e9c, 17em 9em #4e4e9c, 18em 9em #4e4e9c, 19em 9em #4e4e9c, 20em 9em #4e4e9c, 20em 7em #570e57, 19em 7em #570e57, 18em 7em #570e57, 17em 7em #570e57, 16em 7em #570e57, 15em 7em #570e57, 14em 7em #570e57, 14em 11em #225c24, 15em 11em #225c24, 16em 11em #225c24, 17em 11em #225c24, 18em 11em #225c24, 19em 11em #225c24, 20em 11em #225c24, 13em 11em #225c24, 12em 11em #225c24, 13em 7em #570e57, 6em 3em #070307
  }

  40% {
    box-shadow: 4em 12em #303030, 4em 13em #303030, 5em 13em #303030, 6em 13em #303030, 7em 13em #303030, 5em 12em #303030, 6em 12em #303030, 7em 12em #303030, 8em 12em #303030, 8em 13em #303030, 8em 14em #303030, 7em 14em #303030, 6em 14em #303030, 5em 14em #303030, 4em 14em #303030, 13em 5em #570e57, 14em 5em #570e57, 15em 5em #570e57, 16em 5em #570e57, 17em 5em #570e57, 18em 5em #570e57, 19em 5em #570e57, 20em 5em #570e57, 20em 7em #4e4e9c, 19em 7em #4e4e9c, 18em 7em #4e4e9c, 17em 7em #4e4e9c, 16em 7em #4e4e9c, 15em 7em #4e4e9c, 20em 9em #225c24, 19em 9em #225c24, 18em 9em #225c24, 17em 9em #225c24, 16em 9em #225c24, 15em 9em #225c24, 14em 9em #225c24, 13em 9em #225c24, 12em 9em #225c24, 20em 11em #000000, 18em 11em #000000, 16em 11em #000000, 14em 11em #000000, 12em 11em #000000, 6em 3em #070307, 6em 4em #070307, 6em 5em #070307
  }

  50% {
    box-shadow: 4em 13em #303030, 5em 13em #303030, 6em 13em #303030, 7em 13em #303030, 8em 13em #303030, 8em 14em #303030, 7em 14em #303030, 6em 14em #303030, 5em 14em #303030, 4em 14em #303030, 13em 5em #570e57, 14em 5em #570e57, 15em 5em #570e57, 16em 5em #570e57, 17em 5em #570e57, 18em 5em #570e57, 19em 5em #570e57, 20em 5em #570e57, 20em 7em #4e4e9c, 19em 7em #4e4e9c, 18em 7em #4e4e9c, 17em 7em #4e4e9c, 16em 7em #4e4e9c, 15em 7em #4e4e9c, 20em 9em #225c24, 19em 9em #225c24, 18em 9em #225c24, 17em 9em #225c24, 16em 9em #225c24, 15em 9em #225c24, 14em 9em #225c24, 13em 9em #225c24, 12em 9em #225c24, 11em 11em #000000, 13em 11em #000000, 15em 11em #000000, 17em 11em #000000, 19em 11em #000000, 6em 3em #070307, 6em 4em #070307, 6em 5em #070307
  }

  60% {
    box-shadow: 8em 14em #303030, 7em 14em #303030, 6em 14em #303030, 5em 14em #303030, 4em 14em #303030, 13em 5em #570e57, 14em 5em #570e57, 15em 5em #570e57, 16em 5em #570e57, 17em 5em #570e57, 18em 5em #570e57, 19em 5em #570e57, 20em 5em #570e57, 20em 7em #4e4e9c, 19em 7em #4e4e9c, 18em 7em #4e4e9c, 17em 7em #4e4e9c, 16em 7em #4e4e9c, 15em 7em #4e4e9c, 20em 9em #225c24, 19em 9em #225c24, 18em 9em #225c24, 17em 9em #225c24, 16em 9em #225c24, 15em 9em #225c24, 14em 9em #225c24, 13em 9em #225c24, 12em 9em #225c24, 12em 11em #000000, 14em 11em #000000, 16em 11em #000000, 18em 11em #000000, 20em 11em #000000, 6em 3em #070307, 6em 4em #070307, 6em 5em #070307
  }

  70% {
    box-shadow: 15em 11em #225c24, 14em 10em #225c24, 13em 9em #225c24, 12em 8em #225c24, 16em 10em #225c24, 17em 9em #225c24, 18em 8em #225c24, 19em 7em #225c24, 20em 6em #225c24, 19em 6em #225c24, 20em 5em #225c24, 18em 7em #225c24, 17em 8em #225c24, 16em 9em #225c24, 15em 10em #225c24, 14em 9em #225c24, 13em 8em #225c24, 6em 3em #070307, 6em 4em #070307, 6em 5em #070307
  }

  80% {
    box-shadow: 6em 3em #070307, 6em 4em #070307, 6em 5em #070307
  }

  90% {
    box-shadow: 15em 11em #225c24, 14em 10em #225c24, 13em 9em #225c24, 12em 8em #225c24, 16em 10em #225c24, 17em 9em #225c24, 18em 8em #225c24, 19em 7em #225c24, 20em 6em #225c24, 19em 6em #225c24, 20em 5em #225c24, 18em 7em #225c24, 17em 8em #225c24, 16em 9em #225c24, 15em 10em #225c24, 14em 9em #225c24, 13em 8em #225c24, 6em 3em #070307, 6em 4em #070307, 6em 5em #070307
  }
}

.logo::after {
  /*This is the static area of the element*/
  box-shadow: 3em 7em #000000, 3em 8em #070307, 3em 10em #070307, 3em 11em #070307, 3em 12em #070307, 6em 1em #070307, 7em 1em #070307, 8em 1em #070307, 9em 1em #070307, 10em 1em #070307, 1em 9em #070307, 1em 10em #070307, 1em 11em #070307, 1em 12em #070307, 9em 14em #070307, 3em 14em #000000, 11em 1em #070307, 12em 1em #070307, 13em 1em #070307, 14em 1em #070307, 15em 1em #070307, 16em 1em #070307, 17em 1em #070307, 18em 1em #070307, 19em 1em #070307, 20em 1em #070307, 21em 1em #070307, 22em 1em #070307, 22em 2em #070307, 22em 3em #070307, 22em 4em #070307, 22em 5em #070307, 22em 6em #070307, 22em 7em #070307, 22em 8em #070307, 22em 9em #070307, 22em 10em #070307, 22em 11em #070307, 22em 12em #000000, 6em 2em #070307, 18em 3em #070307, 19em 3em #070307, 20em 3em #070307, 14em 3em #070307, 1em 13em #070307, 2em 13em #070307, 3em 15em #070307, 4em 15em #070307, 5em 15em #070307, 6em 15em #070307, 7em 15em #070307, 8em 15em #070307, 9em 15em #070307, 11em 13em #000000, 9em 13em #000000, 9em 12em #000000, 9em 11em #000000, 9em 10em #000000, 9em 9em #000000, 9em 8em #000000, 9em 7em #000000, 8em 7em #000000, 7em 7em #000000, 6em 7em #000000, 5em 7em #000000, 4em 7em #000000, 2em 9em #000000, 3em 9em #000000, 3em 13em #000000, 22em 13em #000000, 21em 13em #000000, 20em 13em #000000, 19em 13em #000000, 18em 13em #000000, 17em 13em #000000, 16em 13em #000000, 15em 13em #000000, 14em 13em #000000, 13em 13em #000000, 12em 13em #000000, 15em 3em #000000, 16em 3em #000000;
}

/* Desktop Menu */
.desktop-main-menu {
 align-items: center;
 display: flex;
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}
.desktop-main-menu ul li a{
  height: 100%;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Menu item bottom border */
.desktop-main-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(0, 0, 0);
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}

/* Sections */
section {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

.section-inner {
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;
}

.section-inner h4 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 300;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both; // Stop from showing at start
}

.section-inner a {
  animation: fadeInUp 0.5s ease-in-out 0.4s;
  animation-fill-mode: both; // Stop from showing at start
}

/* Background images */
 .section-a {
  
    background-color: #fcfcfc;
     
  }
.section-b {
  background-color: #f3f3f3;
}
.section-c {
background-color: #f5f5f5;
}
.section-d {
  background-color: #f7f7f7;
}
.section-e {
  background-color: #ffffff;
}
.section-b {
  /* style the section element */
}

.section-b .section-inner {
  /* style the inner div element */
}

.section-b h4 {
  /* style the heading element */
}

.section-b .icons-container {
  /* style the icons container div element */
  display: flex;
  /* use flexbox layout to align the child elements horizontally */
  justify-content: space-around;
  /* distribute the child elements evenly along the main axis */
}

.section-b .icons-container div {
  /* style the div elements containing the icons and text */
  display: flex;
  /* use flexbox layout to align the icon and text vertically */
  align-items: center;
  /* center the icon and text vertically */
  flex-direction: column;
  /* stack the icon and text vertically */
}

.section-b .icons-container img {
  /* style the SVG images */
    width: 50px;
    /* set the width of images within the icons container to 50 pixels */
    height: 50px;
    /* set the height of images within the icons container to 50 pixels */
    object-fit: cover;
    /* stretch the images to fit the fixed size */
}
.back-end-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  text-align: center;
  grid-gap: 10px;
}

.back-end-group .image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back-end-group .btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid #030303;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
}

.back-end-group .btn:hover span {
  color: #000;
}

.back-end-group .btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.back-end-group .btn:hover .hover {
  transform: translateY(0);
}

.back-end-group .scroll-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeBounce 5s infinite;
}

/* Add this rule to align text with image */
.back-end-group .text {
  grid-column: span 4; /* Adjust the value as needed to align with the image */
}

/* Media Query for Responsive Layout */
@media screen and (max-width: 768px) {
  .back-end-group {
    grid-template-columns: 1fr;
  }
}


.front-end-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  text-align: center;
  grid-gap: 10px;
}

.image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid #030303;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
}

.btn:hover span {
  color: #000;
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
  transform: translateY(0);
}

.scroll-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeBounce 5s infinite;
}

/* Media Query for Responsive Layout */
@media screen and (max-width: 768px) {
  .front-end-group,
  .back-end-group {
    grid-template-columns: 1fr;
  }
}



/* Footer */
footer {
  position: relative;
  padding: 55px 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  margin-right: 30px;
  color: #aaa;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2.5;
}

footer ul li a {
  color: #fff;
  transition: color 0.6s;
}

footer ul li a:hover {
  color: #aaa;
}

/* Hamburger Menu */
.hamburger {
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(5px);
}

.hamburger-bottom {
  transform: translateY(10px);
}

/* Transition hamburger to X when open */
.open {
  transform: rotate(90deg);
  
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background: rgb(255, 255, 255);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background: rgb(255, 255, 255);
}

/* Overlay */
.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

/* Stop body scroll */
.stop-scrolling {
  overflow: hidden;
}

/* Hide mobile main menu items */
.mobile-only {
  display: none;
}

/* Mobile menu */
.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #000;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Bring menu from right */
.show-menu {
  transform: translateX(0);
}

.mobile-main-menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.mobile-main-menu ul li {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px #555 dotted;
  width: 100%;
  text-align: right;
  padding-bottom: 8px;
}

.mobile-main-menu ul li a {
  color: #fff;
  transition: color 0.6s;
}

.mobile-main-menu ul li a:hover {
  color: #aaa;
}

/* Inner Pages */
.bg-falcon-9 {
  background-image: url('../img/falcon-9.webp');
}

.bg-falcon-heavy {
  background-image: url('../img/falcon-heavy.webp');
}

.bg-dragon {
  background-image: url('../img/dragon.webp');
}

.section-animate {
  animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  width: 80%;
}

.section-inner-center h3 {
  font-size: 100px;
  margin-bottom: 15px;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner-center p {
  font-size: 20px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

/* Stats */
.stats {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
}

.stats div span {
  font-size: 160px;
}

.stats div h4 {
  font-size: 24px;
  font-weight: 300;
}

/* Animations */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */

@media (max-width: 960px) {
  /* Hide desktop menu */
  .desktop-main-menu {
    display: none;
  }

  /* Show main mobile items */
  .mobile-only {
    display: block;
  }

  .section-inner-center h3 {
    font-size: 75px;
  }
}

@media (max-width: 600px) {
  .section-inner {
    bottom: 75px;
    left: 20px;
  }

  .section-inner h2 {
    font-size: 40px;
  }

  footer ul li:first-child {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer ul li {
    margin-right: 15px;
  }

  .logo {
    width: 150px;
    margin: auto;
  }

  .section-inner-center h3 {
    font-size: 50px;
  }

  /* Stats */
  .stats {
    flex-direction: column;
  }

  .stats div {
    margin-bottom: 20px;
  }
}


